<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Sign Language detection</title>
</head>
<body>
    <section class="hero">
        <nav>
            <a href=""><span>Sign Language</span> Detection</a>

            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="predict.html">Predictor</a></li>
            </ul>
        </nav>

        <div class="text-container">
            <h1>wow<br>it's good</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque architecto molestias sunt voluptatum eius perferendis perspiciatis sint accusamus explicabo totam adipisci odio fugit autem, molestiae praesentium numquam enim animi eos!</p>
            <a href="">view more</a>

            <div class="control">
                <p>04</p>
                <div class="line"><span></span></div>
                <p>05</p>
            </div>
        </div>
    </section>
</body>
</html>