<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/predictor.css">
    <title>vue Lamp</title>
</head>
<body>
  <form id="upload-form" enctype="multipart/form-data" method="POST" action="/predict">
      <input type="file" name="file" id="file">
      <input type="button" value="Upload" onclick="uploadFile()">
    </form>
    
  <div id="result"></div>
  <script>
    function uploadFile() {
      // Get the form element
      var form = document.getElementById('upload-form');

      // Create a new XMLHttpRequest object
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/predict');
      xhr.onload = function() {
          if (xhr.status === 200) {
          // Display the prediction result
          document.getElementById('result').innerHTML = xhr.responseText;
          } else {
          alert('An error occurred');
          }
      };

      // Send the form data
      var formData = new FormData(form);
      xhr.send(formData);
      }

  </script>
</body>
</html>
